server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    com.playprobie: INFO
    org.springframework: WARN

ai:
  server:
    url: ${AI_SERVER_URL}


