name: Java CI with Gradle

on:
  pull_request:
    branches:
      - "main"
      - "develop"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      # Configure Gradle for optimal performance
      # This action handles caching of Gradle Wrapper, dependencies, and more
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        # 'assemble' compiles the code and packages it, downloading dependencies if needed
        run: ./gradlew assemble --no-daemon

      - name: Run Unit Tests
        # 'test' runs the unit tests. If this step fails, the workflow will fail.
        run: ./gradlew test --no-daemon

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: "build/test-results/**/*.xml"
